@media print {
  .hide-from-printer {
          display: none;
          visibility: hidden;
      }
}

body {
  background-color: #F1F2F4;
  margin: 0;
}

a{
  color: black;
}

h1 {
  text-align: center;
}

header {
  overflow: auto;
  background: url("http://orbisagro.com.ua/images/1.jpg?123123") no-repeat;
  background-color: #CCC;
  color: white;
}

header h3::selection {
  background: transparent;
}
header h3 {
  font-size: 50px;
  text-align: center;
  min-height: 790px;
  line-height: 600px;
}

.wrapper {
  margin: 100px 10% 0 10%;
  padding-bottom: 200px;
  height: 800px;
}

.columns {
  display: flex;
  font-size: 15px;
  font-family: sans-serif;
  color: black;
  opacity: 0.6;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-height: 80px;
  line-height: 50px;
  text-align: center;
  background-color: grey;
}

.left-column{
  width: 20%;
  order: 1;
}

.center-column{
  flex: 1;
  order: 2;
}

.right-column{
  width: 20%;
  order: 3;
  font-size: 15px;
}

.nav-link {
  line-height: 68px;
  font-size: 40px;
}

@media screen and (max-width: 800px) {

  .left-column{
    font-size: 6px;
  }

  .center-column a {
    font-size: 10px;
  }

  .right-column{
    font-size: 6px;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.table > tbody > tr > td {
     vertical-align: middle;
}

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
